<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/ranames}">Ranames</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Info</a>
            </li>
        </ul>
    </div>
</nav>
<div>
    <br><br>
    <h2>A simple tool to generate fake names.</h2>
    <p><strong>Basic Usage</strong><br></p>
    <p>All responses are returned as JSON.</p>
    <pre>
    http://localhost:8080/ranames/api?amount=10
    ---
    {
    "name": "Romane",
    "surname": "Leriy",
    "gender": "FEMALE",
    "region": "FRANCE"
    }
    </pre>
    <br><br>
    <h5>Number of names to return:</h5>
    <p>http://localhost:8080/ranames/api?amount=10</p>
    <br>
    <h5>Limit results to the male or female gender:</h5>
    <p>http://localhost:8080/ranames/api?amount=10&gender=female</p>
    <br>
    <h5>Region-specific results::</h5>
    <p>http://localhost:8080/ranames/api?amount=10&region=france</p>
    <br>
    <h5>Region and gender specific results:</h5>
    <p>http://localhost:8080/ranames/api?amount=10&region=france&gender=male</p>
</div>
</body>
</html>